header{
	width:100%;
	float:left;
	background-image: linear-gradient(253deg, $blue, $light-blue), linear-gradient(#fbfbfb, #fbfbfb);
}
.navbar{
	margin:0px;
	min-height:10px;	
}
.navbar-default{
	background:none;
	border:none;	
}
.navbar-default .navbar-nav > li{
	margin:10px 0 10px 0;
}
.navbar-default .navbar-nav > li > a{
	font-size:15px;
	color:$white;	
	padding:10px 25px 10px;
	text-transform:uppercase;
	&:hover{
		color:$dark-blue;
	}
}
@media (max-width: $screen-xs-min) { 

}

@media (max-width: $screen-md-min) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top:0px;
	margin-bottom:0px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
 .navbar-default .navbar-toggle{
	border:none;	
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:$white;	
}
.navbar-toggle .icon-bar{
	height:3px;	
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color:transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border:none; 
	box-shadow:none;	
}
.navbar-default .navbar-nav > li{
	margin:0px 0 0px 0;
}
.navbar-default .navbar-nav > li > a{
	font-size:15px;
	color:$white;	
	padding:10px 25px 10px;
	border-bottom:1px solid rgba(255, 255, 255, 0.2);
	text-transform:uppercase;
	&:hover{
		color:$white;
		background:$light-blue;
	}
}

}