.login-box{
	background:$white;
	border-radius:5px;
	padding:0px 15px 0px;
	margin:40px 0 0 0;
	.forgot-password{
		width:auto;
		float:right;
		padding:7px 0 0 0;
		a{
			font-size:14px;
			text-decoration:underline;
			color:$dark-gary;
			&:hover{
				color:$blue;	
			}	
		}
	}
	.signup-link{
		width:100%;
		float:left;
		text-align:center;
		margin:25px 0 0 0;
		font-size:16px;
		border-top:1px solid #e6e6e6;
		padding:12px 0;
		border-radius:0 0 5px 5px;
			a{
			text-decoration:underline;
			color:$blue;
			font-weight:600;	
			&:hover{
				color:$dark-gary;
				
			}	
		}
	}
}
.welcome-text{
	margin:20px 0 0 0;
	p{
		line-height:25px;	
	}	
}

@media (min-width: $screen-sm-min) { 
.login-box,
{
	margin:100px 0 0 0;	
}
.welcome-text
{
	margin:80px 0 0 0;	
}

}